*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.cover {
    object-fit: fill;
    object-position: 50% 50%;
}

.container-marketing {
    padding-top: 20px;
    text-align: center;
    background-color: rgb(236, 217, 193);
}

.card-mb-3 {
    border-radius: 500px;
}

.blog-header {
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif
        /*rtl:Amiri, Georgia, "Times New Roman", serif*/
    ;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif
        /*rtl:Amiri, Georgia, "Times New Roman", serif*/
    ;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.flex-auto {
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

/* Pagination */
.blog-pagination {
    margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

/*
 * Footer
 */
.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.carousel-control-prev-icon {
    background-color: red;
}

.carousel-control-next-icon {
    background: red;
}

footer {
    color: white;
    background-color: red;
    text-align: center;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 100px;
}


/* .px-3 h1 {
    justify-content: center;
    align-items: center;
    text-align: center;   
} */

.px-3 {
    text-align: center;
    padding: 100px;
}

/* .container2 .footer p {
    margin-bottom: 30px;
} */

/* ABAIXO COVER */

.cover-container {
  max-width: 42em;
}

footer p {
    margin-top: 10px;
}

/* ABAIXO PARA PÁGINA DE FORMULÁRIO */

.container {
    max-width: 960px;
  }

  .Formulario {
    text-align: left;
    align-items: center;
    padding: 50px;
  }
  
  .Formulario h4 {
    color: red;
    font-weight: bold;
  }

  /* Abaixo para Product_Page */

  .container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
 .site-header {
    margin-top: 1px;
 }

  .site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(201, 25, 25, 0.1);
    border-radius: 5px;
  }

  .site-header {
    margin-top: -110px;
    align-items: center;
  }

  .display-4 {
    margin-top: -50px;
  }
